

html, 
body, 
div, 
span, 
applet, 
object, 
iframe, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
a
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  box-sizing: border-box
  line-height: normal

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
  display: block
  

body
  line-height: 1
  
ol,
ul
  list-style: none
  
blockquote, 
q
  quotes: none

blockquote
  &:before, 
  &:after
    content: ''
    content: none

q 
  &:before,
  &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0
