@import reset
@import variables

body
  font: 100% $font-stack
  color: $body-text
  font-size: 0.875rem
  letter-spacing: .02em

a
  text-decoration: none
  color: $primary-color

  &:hover
    text-decoration: none
    color: $primary-color

h1
  font-size: 1.5rem
h2
  font-size: 1.375rem
h3
  font-size: 1.25rem
h4
  font-size: 1.125rem
h5
  font-size: 1rem
h6
  font-size: 0.875rem

small
  font-size: 0.625rem

.row
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  margin-right: -0.9375rem
  margin-left: -0.9375rem

.col-lg-6
  flex: 0 0 50%
  width: 50%
  padding: 0 0.9375rem
  @media screen and (max-width: $break-medium)
    width: 100%
    flex: 0 0 100%

.f-size-14
  font-size: 0.875rem
  -webkit-box-flex: 0
  -ms-flex: 0 0 50%
  flex: 0 0 50%

.sticky-top
  position: -webkit-sticky
  position: sticky
  top: 0
  z-index: 9

.top-nav
  margin-top: 0.625rem
  @media screen and (max-width: $break-medium)
    margin-top: 0.3125rem  

  .top-nav__list-group
    margin: 0
    padding: 0
    list-style: none
    border-bottom: 0.0625rem solid $border-color
    @media screen and (max-width: $break-medium)
      overflow-x: scroll
      white-space: nowrap

    .top-nav__list-group__items
      display: inline-block

      a
        display: block
        padding: 0.375rem 0.75rem
        color: $body-text
        text-transform: capitalize
        padding: 0.625rem 0
        margin-right: 1.875rem
        border-bottom: 0.125rem solid #fff
        @media screen and (max-width: $break-medium)
          margin-right: 0.9375rem
        @media screen and (max-width: $break-small)
          margin-right: 0.75rem
        @media screen and (max-width: $break-extra-small)
          margin-right: 0.625rem

        &:hover
          color: $primary-color

    .top-nav__list-group__items--active
      a
        font-weight: 600
        border-bottom-color: $primary-color

.main-content
  margin-right: 18.75rem
  margin-top: 1.875rem
  padding-right: 1.25rem
  min-height: 25rem
  @media screen and (max-width: $break-small)
    margin-right: 0
    margin-top: 1.25rem
    padding-right: 0

.container-fluid
  position: relative
  width: 100%
  padding-right: 0.9375rem
  padding-left: 0.9375rem
  margin-right: auto
  margin-left: auto

header
  background: #fff
  padding-top: 0.9375rem
  
img.responsive-h
  height: 100%
  object-fit: cover

img.responsive-w
  width: 100%

.post-list
  .post-list__items
    padding: 1rem 0
    border-bottom: 0.0625rem solid $border-color
    @extend %flex-class

    &:last-child
      border-bottom: 0
    &:first-child
      padding-top: 0

    .post-list__items__img-box
      @extend %flex-class
      width: 5rem
      margin-right: 0.9375rem
      height: 5rem    
      overflow: hidden
      @media screen and (max-width: $break-extra-small)
        width: 3.75rem
        height: 3.75rem

    .post-list__items__items-body
      -ms-flex: 1
      flex: 1
      min-width: 0
      -ms-flex-item-align: center
      align-self: center

      .post-list__items__items-body__small
        text-transform: uppercase
        display: block
        margin-bottom: 0.625rem
        color: $gray-color
        font-weight: bold
        @media screen and (max-width: $break-medium)
          margin-bottom: 0.4375rem

      .post-list__items__items-body__title
        margin-bottom: 0.4375rem
        @media screen and (max-width: $break-medium)
          margin-bottom: 0.3125rem

        &::first-letter
          text-transform: capitalize

        a
          color: $body-text

          &:hover
            color: $primary-color

      .post-list__items__items-body__para
        margin-bottom: 0.3125rem
        @extend %text-dotted
        @media screen and (max-width: $break-medium)
          margin-bottom: 0.1875rem

        &::first-letter
          text-transform: capitalize

      .post-list__items__items-body__sign
        font-size: 0.75rem
        color: $gray-color

        &::first-letter
          text-transform: capitalize
        a
          text-transform: capitalize

      .post-list__items__items-body__contact-details
        margin-top: 1.25rem
        font-size: 0.875rem
        @media screen and (max-width: $break-medium)
          margin-top: 0.625rem
        @media screen and (max-width: $break-small)
          font-size: 	0.8125rem

        span
          display: block
          margin-bottom: 0.3125rem
          @media screen and (max-width: $break-medium)
            margin-bottom: 0.1875rem
        .icon
          margin-right: 0.3125rem
     
    &.post-list__items--for-site      
      .post-list__items__items-body__title
        text-transform: capitalize

    &.post-list__items--for-blog

      .post-list__items__img-box
        border-radius: 0.25rem

    &.post-list__items--for-person
      .post-list__items__img-box
        border-radius: 50%

      .post-list__items__items-body__title
        text-transform: capitalize


.right-column
  width: 18.75rem
  position: absolute
  min-height: 25rem
  right: 0
  top: 0 
  padding: 0 0.9375rem 0 1.75rem
  border-left: 0.0625rem solid $border-color
  @media screen and (max-width: $break-small)
    width: 100%
    position: initial    
    border-left: 0
    padding: 0
    margin-top: 1.875rem

  .right-column__column-box
    margin-bottom: 2.5rem

  .right-column__title
    text-transform: capitalize
    border-bottom: 0.0625rem solid $border-color
    padding-bottom: 0.625rem

  .right-column__view-all-link
    font-size: 0.875rem
    margin-top: 1.5625rem
    display: inline-block

.file-list
  .file-list__items
    @extend %flex-class
    margin-top: 1.25rem

    .file-list__items__img-box
      @extend %flex-class
      width: 2.1875rem
      margin-right: 0.9375rem
      height: 2.1875rem     
      overflow: hidden

    .file-list__items__items-body
      -ms-flex: 1
      flex: 1
      min-width: 0
      -ms-flex-item-align: center
      align-self: center

      .file-list__items__items-body__header
        @extend %text-dotted
        margin-bottom: 0.3125rem

        a
          color: #484848
          &:hover
            color: $primary-color

      .file-list__items__items-body__sign
        font-size: 0.75rem
        color: $gray-color
        text-transform: capitalize

