$font-stack: Arial
$body-text: #484848
$primary-color: #1abc9c
$border-color: #e9e9e9
$gray-color: #888
$light-gray-color: #c4c4c4
$break-large: 1200px
$break-medium: 768px
$break-small: 480px
$break-extra-small: 320px

%text-dotted
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
    
%flex-class
  display: -ms-flexbox
  display: flex
  -ms-flex-align: center
  align-items: center